@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<div class=" container">

    <hr class="site-primary-color" />




    <hr class="site-primary-color" />

    <div class="bio1">
        <h3>2023 Corgi Race Championships</h3>

        <h4>World renouned Daytona Beach track:</h4>
        <p>
            <img src="~/images/corgirace.jpg" class="eventIMG" />
        <p>
            The annual Running of the Corgis takes place between live races, with 72 Dogs racing in 6 heats.<br/>
            The sweet royal breed is returning to Daytona, bringing wiggling butts back to the track.<br />
            This adorable breed will surely bring entertaininment for the whole family on Pepsi Family Sunday,<br />
            with Pony Rides and Face Painting!
        </p>
        </p>

        <hr class="site-primary-color" />
        <hr class="site-primary-color" />
    </div>

    <h3>2023 Big Dog Agility Competition</h3>

    <h4>Available</h4>
    <p>
        <img src="~/images/shaggyandowner.jpg" class="bioIMG" />
    <p>
        In any galaxy, Han and Chewbarka would have been destined for each other and competition. This pair shines brighter than any star when it comes to the<br />
        connection they share during the hurdle portions of events. The two are certain their success is all due to the number of hours they have spent perfecting<br />
        the art of running through obstacle courses. Chewbarka seems to anticipate every command before Han calls it out.<br />
        <br />
        Chewbarka’s favorite pastime: Napping by the fire in his spaceship shaped dog bed, listening to the soothing sound of Han playing video games with his friends.
    </p>
    </p>

    <hr class="site-primary-color" />
    <hr class="site-primary-color" />


    <h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

    <h4>Daphne and Velma the great dane :</h4>
    <p>
        <img src="~/images/bettywilma.jpg" alt="" height="" width="500" class="bioIMG" />
    <p>
        When they aren’t on the competition circuit in their blue and green van, Daphne and Velma are found playing fetch on the sunny beaches of California.<br />
        The two are 6-time world champions of the large breed category, which is made even more remarkable by the fact that they became partners a full 5 years<br />
        into Velma’s life. While she is an older gal, nothing can stop this dynamic duo.<br />
        <br />
        Velma’s favorite pastime:  Rummaging through the trash when Daphne leaves her unattended while she watches her friend’s cat competitions.
    </p>
    </p>

    <hr class="site-primary-color" />

    <p></p>
</div>