@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<div class=" container">

    <hr class="site-primary-color" />




    <hr class="site-primary-color" />

    <div class="bio1">
        <h3>2023 Corgi Race Championships</h3>

        <h4>World renouned Daytona Beach track:</h4>
        <p>
            <img src="~/images/corgirace.jpg" class="eventIMG" />
        <p>
            The annual Running of the Corgis takes place between live races, with 72 Dogs racing in 6 heats.<br/>
            The sweet royal breed is returning to Daytona, bringing wiggling butts back to the track.<br />
            This adorable breed will surely bring entertaininment for the whole family on Pepsi Family Sunday,<br />
            with Pony Rides and Face Painting!
        </p>
        </p>

        <hr class="site-primary-color" />
        <hr class="site-primary-color" />
    </div>

    <h3>2023 Masters of Big Dog Agility Competition</h3>

    <h4>Available to canines over 100lbs</h4>
    <p>
        <img src="~/images/saintbernard.jpg"  class="bioIMG"/>
    <p>
        Dogs participated in two rounds of agility preliminaries on Friday before the field was narrowed down to 50<br/>
        finalists who will compete Saturday night for the title of Masters of Big Dog Agility Champion. The winner<br />
        will take home the title of 2023 Master of Big Dog Agility Champion!
    </p>
    </p>

    <hr class="site-primary-color" />
    <hr class="site-primary-color" />


    <h3>2023 Dog Dock Distance Jump Championship</h3>

    <h4>Open to all breeds who qualified through local events:</h4>
    <p>
        <img src="~/images/dogjump.jpg" class="bioIMG"/>
    <p>
       Dog Dock Distance Jump scoring is based on height. The dog will jump from the end of the dock and grab an<br/>
       object from an extender suspended over the pool. The Team that achieves the highest height wins. The top three<br/>
       contestants will be awarded trophies for their podium finishes.
    </p>
    </p>

    <hr class="site-primary-color" />

    <p></p>
</div>