@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<hr class="site-primary-color" />

<h2>These are the upcomming events!</h2>

<hr class="site-primary-color" />


<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>The invitation Qualifying Period for the 147th Annual Westminster Kennel Club Dog Show is: October 1, 2021, to September 30, 2022 for:</h4>
<p>
    Top Five AKC Champions of Record Dogs for each breed or variety based on breed rankings
    National Specialty Best of Breed Winners
    Junior Showmanship entrants*
    *Junior Showmanship Handlers will be invited to enter if they have been awarded Best Junior (from a minimum of two competing classes) at SEVEN (7) or more AKC Licensed or Member shows within the above stated qualifying period, and who were at least 9 years old and under 18 years old at the time of each qualifying win
</p>

<hr class="site-primary-color" />
<hr class="site-primary-color" />


<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>The invitation Qualifying Period for the 147th Annual Westminster Kennel Club Dog Show is: October 1, 2021, to September 30, 2022 for:</h4>
<p>
    Top Five AKC Champions of Record Dogs for each breed or variety based on breed rankings
    National Specialty Best of Breed Winners
    Junior Showmanship entrants*
    *Junior Showmanship Handlers will be invited to enter if they have been awarded Best Junior (from a minimum of two competing classes) at SEVEN (7) or more AKC Licensed or Member shows within the above stated qualifying period, and who were at least 9 years old and under 18 years old at the time of each qualifying win
</p>

<hr class="site-primary-color" />
<hr class="site-primary-color" />


<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>The invitation Qualifying Period for the 147th Annual Westminster Kennel Club Dog Show is: October 1, 2021, to September 30, 2022 for:</h4>
<p>
    Top Five AKC Champions of Record Dogs for each breed or variety based on breed rankings
    National Specialty Best of Breed Winners
    Junior Showmanship entrants*
    *Junior Showmanship Handlers will be invited to enter if they have been awarded Best Junior (from a minimum of two competing classes) at SEVEN (7) or more AKC Licensed or Member shows within the above stated qualifying period, and who were at least 9 years old and under 18 years old at the time of each qualifying win
</p>

<hr class="site-primary-color" />

<p></p>
