html {
  font-size: 14px;
}
/*desktop*/
@media (min-width: 1080px) {
    html {
        font-size: 16px;
    }
}
/*laptop*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* smart phone*/
@media (min-width: 640) {
    html {
        font-size: 16px;
    }
}
/*tablet*/
@media (min-width: 800px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.site-primary-color{
    background-color: orangered;
    margin-left: 0%;
    margin-right: 0%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: darkblue;
    text-align:center;
}
.heroIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h1,h2,h3,h4
{
    text-align:center;
}
img{
    width:80%;
}
.bioIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.eventIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p {
    text-align: center;
}
