@{
    ViewData["Title"] = "Dog Trainer Bios";
}
<h1>@ViewData["Title"]</h1>

<div class=" container">

<hr class="site-primary-color" />




<hr class="site-primary-color" />

    <div class="bio1">
    <h3>2023 Showmanship Champions Information</h3>

    <h4>Christopher Robin and his award winning pooch Winnie the Poodle:</h4>
    <p>
            <img src="~/images/poodle.jpg" class="bioIMG" />
    </p>

    <hr class="site-primary-color" />
    <hr class="site-primary-color" />
   </div>

<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>Han Solo and his shaggy companion Chew Barka</h4>
<p>
        <img src="~/images/shaggyandowner.jpg" class="bioIMG" />
</p>

<hr class="site-primary-color" />
<hr class="site-primary-color" />


<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>Betty and Wilma the great dane :</h4>
<p>
        <img src="~/images/bettywilma.jpg" alt="" height="" width="500" class="bioIMG" />
</p>

<hr class="site-primary-color" />

<p></p>
</div>