@{
    ViewData["Title"] = "Dog Trainer Bios";
}
<h1>@ViewData["Title"]</h1>

<div class=" container">

<hr class="site-primary-color" />




<hr class="site-primary-color" />

    <div class="bio1">
    <h3>2023 Showmanship Champions Information</h3>

    <h4>Christopher Robin and his award winning pooch Winnie the Poodle:</h4>
    <p>
            <img src="~/images/poodle.jpg" class="bioIMG" />
        <p>
            Christopher and his companion Winnie have competed in 17 renowned competitions in the past 3 months, taking home blue ribbons in all but one.<br />
            They attribute the single loss to a biased judging panel. Christopher credits this success to the hundreds of hours he and Winnie devote monthly<br/>
            to underwater strength training and specially formulated Honey treats his mother bakes with love. In order to maintain Winnie’s perfect physique, <br />
            he must sleep at minimum 12 hours each day and only eat organic non GMO cooked meals.<br />
            <br />
            Winnie's favorite pastime: When not training, Winnie loves to chase his ball and chew his elk bone from the deep regions of Alaska.
        </p>
    </p>

    <hr class="site-primary-color" />
    <hr class="site-primary-color" />
   </div>

<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>Han Solo and his shaggy companion Chewbarka</h4>
<p>
        <img src="~/images/shaggyandowner.jpg" class="bioIMG" />
    <p>
        In any galaxy, Han and Chewbarka would have been destined for each other and competition. This pair shines brighter than any star when it comes to the<br/>
        connection they share during the hurdle portions of events. The two are certain their success is all due to the number of hours they have spent perfecting<br />
        the art of running through obstacle courses. Chewbarka seems to anticipate every command before Han calls it out.<br />
        <br />
        Chewbarka’s favorite pastime: Napping by the fire in his spaceship shaped dog bed, listening to the soothing sound of Han playing video games with his friends.
    </p>
</p>

<hr class="site-primary-color" />
<hr class="site-primary-color" />


<h3>2023 Conformation and Junior Showmanship Exhibitor Qualifying Information</h3>

<h4>Daphne and Velma the great dane :</h4>
<p>
        <img src="~/images/bettywilma.jpg" alt="" height="" width="500" class="bioIMG" />
    <p>
        When they aren’t on the competition circuit in their blue and green van, Daphne and Velma are found playing fetch on the sunny beaches of California.<br/>
        The two are 6-time world champions of the large breed category, which is made even more remarkable by the fact that they became partners a full 5 years<br/>
        into Velma’s life. While she is an older gal, nothing can stop this dynamic duo.<br />
        <br />
        Velma’s favorite pastime:  Rummaging through the trash when Daphne leaves her unattended while she watches her friend’s cat competitions.
    </p>
</p>

<hr class="site-primary-color" />

<p></p>
</div>